.Gif {
    border: 1px solid #eee;
    border-radius: 6px;
    color: #eee;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    margin: 16px;
    padding: 32px;
    width: 100%;
}

.Gif h3{
    margin: 0;
}

.Gif img{
    object-fit: contain;
}