.App {
  text-align: center;
}

.App-logo {
  object-fit: contain;
  height: 250px;
}

.App-title {
  color: #1c9df3;
}

.App-content {
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  min-height: 100vh;
  padding: 16px;
  text-align: left;
}

/*----------*/

.App-main {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
}

.App-results {
  flex-shrink: 2;
}

.App-categoria {
  margin-bottom: 25px;
  width: 100%;
}

@media screen and (min-width: 640px){
  .App-main{
    flex-direction: initial;
  }

  .App-categoria {
    padding: 0 2em;
    position: sticky;
    top: 0;
    width: 40%;
  }
}

